/bin/alist
/bin/lformat
/bin/lguide
/bin/lindex
/bin/list
/bin/listall
/bin/lseen
/bin/ltrace
/bin/mkballot
/bin/template
/bin/templist
/bin/title
/dbs/*.data
/dbs/*.index
/dbs/*.key
/dbs/*.names
/dbs/*.titles
/dbs/*.tsv
/dbs/key.counts
/etc/mkdb
/lists/*.list
/lists/*.list.gz
/lists/README
/lists/filesizes*
/lists/votelog
/man/alist.1
/man/lformat.1
/man/lguide.1
/man/lindex.1
/man/list.1
/man/listall.1
/man/lseen.1
/man/ltrace.1
/man/mkballot.1
/man/title.1
